= form_with(model: chat_room, class: "contents") do |form|
  - if chat_room.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(chat_room.errors.count, "error")
        prohibited this chat_room from being saved:
      %ul
        - chat_room.errors.each do |error|
          %li= error.full_message
  .mb-10
    = form.label :name, class: "block text-gray-700 font-medium"
    = form.text_field :name, class: "rounded-lg py-3 px-5 w-full mt-1"
  .mb-10
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
