.w-full.flex
  .max-w-lg.w-full.m-auto
    = link_to "Back to chat_rooms", chat_rooms_path, class: "btn primary"

    - if notice.present?
      %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice

    %div.flex.mt-4.justify-between.items-center
      = link_to "Edit", edit_chat_room_path(@chat_room), class: "btn primary"
      = button_to "Destroy", chat_room_path(@chat_room), method: :delete, class: "btn secondary"

    .mt-6.w-full
      = render ChatRoomComponent.new chat_room: @chat_room

    - if @chat_messages.present?
      %div
        - @chat_messages.each do |message|
          = render ChatMessageComponent.new(chat_message: message)
    - else
      %div
        No messages yet
